<?php
/**
 * @var Bss\HelloWorld\Block\Add $block
 */
?>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<h1>Add New Data</h1>

<form action="<?php echo $block->getFormAction() ?>" method="post">
    <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Post Your Name">
    </div>
    <div class="form-group">
        <label for="avatar">Avatar Link</label>
        <input type="text" class="form-control" id="avatar url" name="avatar" placeholder="Post Your Avatar Link">
    </div>
    <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" placeholder="Post Your Date Of Birth">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Post Your Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
