<style>
    .contact-for-sale-price {
        background-color: #1979C3;
        border: none;
        border-radius: 2px;
        color: white;
        padding: 17px 21px;
        width: 243px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
    }
</style>
<input class="contact-for-sale-price" type="button" value="Contact For Sale Price">
