<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#" style="margin-left:70px;"><i class="fas fa-globe"></i>Skullcandy</a>
    <a class="navbar-brand" href="#">SHOP</a>
    <a class="navbar-brand" href="#">WIRELESS</a>
    <a class="navbar-brand" href="#">SUPPORT</a>
    <a class="navbar-brand" href="#">ALL ACESS PASS</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-search" style="font-size:24px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-coffee" style="font-size:24px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="https://image.flaticon.com/icons/svg/330/330465.svg" width="25px" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-cart" style="font-size:24px; margin-right:50px;"></i></a>
            </li>
        </ul>
    </div>
</nav>
