<?php
/**
 * @var Bss\HelloWorld\Block\HelloWorld $block
 */

?>
<!-- Footer -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-sm-4" >
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/aboutintern.phtml')
                    ->toHtml(); ?>
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/recentpodcast.phtml')
                    ->toHtml(); ?>
            </div>
            <div class="col-sm-4 ">
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/quickmenu.phtml')
                    ->toHtml();
                ?>
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/followus.phtml')
                    ->toHtml();
                ?>
            </div>
            <div class="col-sm-4">
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/watchvideo.phtml')
                    ->toHtml();
                ?>
                <br><br>
                <?= $block->getLayout()
                    ->createBlock('Bss\HelloWorld\Block\HelloWorld')
                    ->setTemplate('Bss_HelloWorld::footer/newsletter.phtml')
                    ->toHtml(); ?>
            </div>
        </div>
        <br><br><br>
        <hr class="my-4">
        <div class="footer-copyright text-center py-3"><h4>© 2020 Copyright:
                <a href="#"> Test Block Footer Layout </a></h4>
        </div>
        <!-- Copyright -->

</footer>
<!-- Footer -->
