<?php
use Bss\HelloWorld\Block\StaticBlockTest;

/** @var $block StaticBlockTest */

?>
<div class="extras-url-footer">
    <ul>
        <li><a href="<?= $block->getStaticBlockTest('helloworld/staticblocktest/index')?>">Static Block Test</a></li>
    </ul>
</div>
