<?php

use Bss\HelloWorld\Block\Helloworld;

/**
 * Product list template
 *
 * @var $block Helloworld
 */

?>
<section class="My Info">
    <h1>This page is all about me</h1>
    <div class="intro-main">
        <h2><?= $block->escapeHtml($block->getHeaderText()) ?></h2>
        <p><?= $block->escapeHtml($block->getName()) ?></p>
        <div>
            <img alt="thumbnail"
                 class="thumbnail"
                 src="<?php echo $block->escapeHtml($block->getImage()) ?>"
                 width="500"
                 height="500"
            >
        </div>
        <p><?= $block->escapeHtml($block->getAge()) ?></p>
        <p><?= $block->escapeHtml($block->getDob()) ?></p>
    </div>
</section>
