<div>
    <h2>Follow Us</h2>
    <div>
        <script src="https://kit.fontawesome.com/c48cae48b0.js" crossorigin="anonymous"></script>
        <a href="#" class="text-secondary mr-4"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-secondary mr-4"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-secondary mr-4"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-secondary"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
