<div>
    <h2>Subscribe Newsletter</h2>
    <br><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.
    </p>
    <form class="input-group">
        <input type="text" class="form-control form-control-sm" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-danger">SEND</button>
        </div>
    </form>
</div>
