<div class="mb-3">
    <h2>Quick Menu</h2>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <a href="#" class="text-secondary">Home</a>
            <a href="#" class="text-secondary">Matches</a>
            <a href="#" class="text-secondary">News</a>
            <a href="#" class="text-secondary">Team</a>
        </div>
        <div class="d-flex flex-column">
            <a href="#" class="text-secondary">About Us</a>
            <a href="#" class="text-secondary">Privacy Policy</a>
            <a href="#" class="text-secondary">Contact Us</a>
            <a href="#" class="text-secondary">Membership</a>
        </div>
    </div>
</div>
