<div>
    <h2>Recent Podcast</h2>
    <br>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/AdamLevine2011.jpg" width="65px">
        <p>Lorem ipsum dolor sit amet consectetur elit</p>

    </div>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/AdamLevine2011.jpg" width="65px">
        <p>Lorem ipsum dolor sit amet consectetur elit</p>

    </div>
</div>
