<div class="mb-3">
    <h2>Watch Video</h2>
    <a href="#">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/ec/AdamLevine2011.jpg"
            alt="video" height="180" width="100%">
    </a>
</div>
